:root {
  --main-bg-color: #074584;
  --footer-bg-color: #11657f;
  --bg-pink: rgb(238, 138, 155);
  --color-white: #fff;
  font-family: sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header Style */
header {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 20px 0;
  color: var(--color-white);
  background-color: var(--main-bg-color);
}
/* Hero Style */
.hero img {
  width: 100%;
  object-fit: cover;
}
/* Main part Style */
main {
  margin: 20px auto;
  max-width: 960px;
}
/* Featured style */
.featured {
  display: flex;
  gap: 10px;
  width: 100%;
}
.featured > * {
  flex: 1 1 0;
}
.featured img {
  height: 100%;
  width: 100%;
}
.bg__pink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-pink);
}
.bg__pink div {
  max-width: 200px;
}
.bg__pink p {
  text-align: center;
  padding: 0 20px;
  font-size: 30px;
}
/* Gallery Style */
.gallery {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.gallery img {
  width: 100%;
}
.gallery .gallery__images {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* Footer part style */
footer {
  text-align: center;
  padding: 40px 0;
  background-color: var(--footer-bg-color);
  color: var(--color-white);
}