@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");

:root {
  --bg-dark: black;
  --bg-light-grey: #fafafa;
  --color-white: white;
  --color-grey: rgb(163, 162, 162);
  --color-blue: #06c;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigations */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  font-size: 1.6rem;
  background-color: var(--bg-dark);
  height: 4.4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0.9;
}

nav ul {
  width: 98rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: var(--color-grey);
  font-weight: 400;
  padding: 0 0.5rem;
  transition: all 0.3s;
}

nav ul li a:hover,
nav ul li a:active {
  color: var(--color-white);
}

nav ul li a img {
  margin: auto 0;
  width: 1.8rem;
  vertical-align: middle;
  opacity: 0.7;
}

nav ul li a img:hover {
  opacity: 1;
}
/* Toggle Menu */
.menu {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
  position: relative;
  padding: 1rem;
}
.menu {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
  position: relative;
  padding: 1rem;
  /* opacity: 0.7; */
}
.menu:hover {
  /* opacity: 1; */
}
.menu-top,
.menu-botton {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 20px;
  height: 1.2px;
  background: white;
}
.menu-botton {
  transform: translateY(7px);
}
/* Hero Section */
.hero {
  position: relative;
  width: 100%;
}
.hero .lucky {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.lucky a:link,
.lucky a:visited {
  background-color: var(--color-white);
  color: var(--bg-dark);
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  font-weight: 500;
}
.lucky a i {
  margin-left: 2rem;
}
.hero video {
  object-fit: cover;
  width: 100%;
  height: 75rem;
}
.link {
  font-size: 2rem;
  display: flex;
  gap: 2.5rem;
}

.link a:link,
.link a:visited {
  color: var(--color-blue);
  text-decoration: none;
  transition: all 0.3s;
}

.link a:hover,
.link a:active {
  /* color: var(--bg-dark); */
  text-decoration: underline;
}

.bg__img {
  height: 71rem;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Iphone Section */
.iphone {
}

.iphone__dark {
  background-image: url("../images/promo_iphone13pro_avail__beadms4ldidu_large.jpg");
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  padding-top: 5rem;
}

/* reusable class */
.text h2 {
  font-size: 5rem;
  font-weight: 500;
}

.text h3 {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 0;
}

.text p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-grey);
  padding-bottom: 1rem;
}

a i {
  margin-left: 0.5rem;
}

.image img {
  width: 100%;
  height: 71rem;
  object-fit: cover;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex p {
  cursor: pointer;
  padding-bottom: 5rem;
  font-size: 1.8rem;
  color: var(--color-blue);
}
/* ---------------- */
.iphone__light {
  background-image: url("../images/hero_iphone13_avail__gnqqkzuai6um_large.jpg");
}
.dark .text {
  color: var(--bg-dark);
}
.anim-image img {
  width: 100%;
}

footer {
  background-color: var(--bg-light-grey);
}

.foot-cont {
  max-width: 100rem;
  margin: 2rem auto;
}

footer .footer__links {
  border-top: 1px solid rgb(170, 169, 169);
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

footer p {
  font-size: 1.3rem;
  padding: 2rem 1rem;
  color: grey;
}

footer .footer__links ul {
  margin-top: 1rem;
}

footer .footer__links h3 {
  margin-top: 1rem;
}

footer .footer__links ul li {
  list-style: none;
  padding: 0.4rem;
}

footer .footer__links ul li a:link,
footer .footer__links ul li a:visited {
  color: grey;
  font-size: 1.2rem;
  text-decoration: none;
}

footer .footer__links ul li a:hover,
footer .footer__links ul li a:active {
  text-decoration: underline;
}

.copyright {
  border-top: 1px solid rgb(170, 169, 169);
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.copyright p {
  color: rgb(51, 51, 51);
}

.policy {
  margin: 0 auto;
}

.policy ul {
  display: flex;
  gap: 1rem;
}

.policy ul li {
  list-style: none;
}

.policy ul li a:link,
.policy ul li a:visited {
  color: rgb(51, 51, 51);
  font-size: 1.1rem;
  text-decoration: none;
}

.policy ul li a:hover,
.policy ul li a:active {
  text-decoration: underline;
}

.policy ul li span {
  margin-left: 1.5rem;
  color: grey;
}
.state {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .menu {
    display: block;
  }
  nav ul li:first-child {
    display: block;
    order: 2;
  }
  nav ul li:last-child {
    display: block;
    order: 1;
  }
  nav ul li:nth-child(10) {
    display: block;
    order: 3;
  }
  nav ul li {
    display: none;
  }
  .copyright {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer__links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
  }
}
